.home li {
  border: solid aqua 1px;
  margin: 1%;
  padding: 2%;
}
.homeimg {
  background-image: url("../../assets/images/home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 5px;
  padding-top: 40px;
  padding-bottom: 50px;
  min-height: 900px;
  min-width: 800px;
}
