.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.header li {
    float: right;
  }
  
.header li .link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.header li a:hover:not(.active) {
    background-color: #111;
  }
  
.header .active {
    background-color: #04AA6D;
  }
.header .float {
      float: left;
  }