.mealReviews span {
  color: blueviolet;
}
.mealReviews {
  padding: 2%;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNMoYG2Ybd3419T06c277cmHKQwGC_FNq5lQ&usqp=CAU");
}
.mealReviews div {
  padding: 1%;
}
.mealReviews form {
  padding: 1%;
}
.mealReviews .ReviewForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(99, 125, 158, 0.6);
  max-width: 750px;
  margin: 0 auto;
  padding-left: 20px;
  padding-block: 15px;
  border-radius: 7px;
}

.mealReviews .reviewsRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}
.mealReviews .card {
  display: block;
  float: left;
  width: 350px;
  margin: 16px;
  border: solid 1px black;
  background-color: #e99c55;
  text-align: center;
}
